$pri: "#F2F3FD";
$pri100: "#F2F3FD";
$pri200: "#DBEAFE";
$pri300: "#C6CFF7";
$pri400: "#A3B2F3";
$pri500: "#7690EF";
$pri600: "#2563EB";
$pri700: "#2158D2";
$pri800: "#1C4CB6";
$pri900: "#173E94";
$pri1000: "#102C69";
