.blueLeftPattern {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  background-image: url(/src/assets/how-it-works/Rectangle\ 234.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.blueRightPattern {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-image: url(/src/assets/how-it-works/Rectangle\ 234.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

.lightLeftPattern {
  position: absolute;
  top: 30px;
  left: 0;
  width: 80px;
  height: 80px;
  background-image: url(/src/assets/how-it-works/Rectangle\ 235.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* transform: rotate(180deg); */
}

.lightRightPattern {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 80px;
  height: 80px;
  background-image: url(/src/assets/how-it-works/Rectangle\ 235.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

.get_started {
  background: #2158d2;
  border-radius: 8px;
  width: 234px;
  color: white;
  height: 54px;
}

.get_started:enabled {
  background: #2158d2;
}

.get_started:hover {
  background: #1c4cb6;
}

.get_started:disabled {
  background: #2563eb;
}

.top_bg {
  display: flex;
  height: 180px;
  width: 100%;
  background: #171d2e;
  justify-content: center;
  align-items: center;
}

.top_bg h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
}

.links {
  display: none;
}

.heading {
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #171d2e;
  margin-top: 2em;
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #292d32;
  max-width: 500px;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #2158d2;
  padding: 1em;
}

.text {
  width: 100%;
  max-width: 303px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.avatars {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 77.86px;
  grid-row-gap: 81.25px;
}
.front {
  margin-top: 2.9rem;
  margin-bottom: 2.4rem;
}

.side {
  margin-top: 2.7rem;
  margin-bottom: 3.4rem;
}

.bckg {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 64.14px;
  height: 64.14px;
}
.img {
  position: absolute;
  top: -2rem;
  max-width: 91px;
  object-fit: contain;
  max-height: 130px;
}

.btn {
  font-family: inherit;
  font-style: normal;
  background-color: #2563eb;
  border-radius: 12.908px;
  font-weight: 700;
  font-size: 15.7px;
  line-height: 20px;
  text-align: center;
  color: #fefefe;
  padding: 12px 20.5px;
}

.scenery {
  font-family: inherit;
  font-style: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: underline;
  color: #2563eb;
  margin-top: 53px;
  margin-bottom: 286px;
}

.last_link {
  font-weight: 400px;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-decoration-line: underline;
  color: #292d32;
  margin-top: 2em;
  margin-bottom: 2em;
}

.last {
  border: none;
  padding-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 449px;
    margin-bottom: 8.26rem;
  }

  .links {
    display: flex;
    justify-self: flex-start;
    align-items: center;
  }

  .link {
    font-family: inherit;
    font-style: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #737479;
  }

  .gap {
    margin-left: 13.94px;
    margin-right: 20.33px;
    color: #737479;
    font-size: 16px;
  }

  .link:active,
  .link::after {
    color: #2563eb;
  }

  .heading {
    font-size: 48px;
    line-height: 60px;
  }

  .info {
    font-size: 32px;
    line-height: 40px;
  }

  .text {
    max-width: 520px;
    font-size: 24px;
    line-height: 30px;
  }
  .avatars {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 113px;
    grid-row-gap: 72px;
  }

  .front {
    margin-top: 6.1rem;
    margin-bottom: 5.2rem;
  }

  .side {
    margin-top: 4.4rem;
    margin-bottom: 5.98rem;
  }

  .bckg {
    height: 100px;
    width: 100px;
  }
  .img {
    position: absolute;
    top: -3rem;
    max-width: 145px;
  }

  .btn {
    font-size: 32px;
    line-height: 40px;
    padding: 30.66px 45px;
  }

  .scenery {
    font-size: 24px;
    line-height: 30px;
    margin-top: 84.69px;
    margin-bottom: 220px;
  }

  .last_link {
    font-size: 18px;
    line-height: 23px;
  }
}

@media screen and (max-width: 768px) {
  .top_bg {
    height: 80px;
  }

  .top_bg h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .heading {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
  }

  .info {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    max-width: 230px;
  }
}
