.links {
  display: none;
}

.header {
  border-bottom: 2px solid #c6cff7;
  padding: 5rem;
  margin-bottom: 4.46rem;
}
.heading {
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
}

.info {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  width: 100%;
  max-width: 303px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.avatars {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 77.86px;
  grid-row-gap: 81.25px;
}
.front {
  margin-top: 2.9rem;
  margin-bottom: 2.4rem;
}

.side {
  margin-top: 2.7rem;
  margin-bottom: 3.4rem;
}

.bckg {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #c6cff7;
  border-radius: 50%;
  width: 64.14px;
  height: 64.14px;
}
.img {
  position: absolute;
  top: -2rem;
  max-width: 91px;
}

.btn {
  font-family: inherit;
  font-style: normal;
  background-color: #2563eb;
  border-radius: 12.908px;
  font-weight: 700;
  font-size: 15.7px;
  line-height: 20px;
  text-align: center;
  color: #fefefe;
  padding: 12px 20.5px;
}

.scenery {
  font-family: inherit;
  font-style: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: underline;
  color: #2563eb;
  margin-top: 53px;
  margin-bottom: 286px;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 449px;
    margin-bottom: 8.26rem;
  }

  .links {
    display: flex;
    justify-self: flex-start;
    align-items: center;
  }

  .link {
    font-family: inherit;
    font-style: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #737479;
  }

  .gap {
    margin-left: 13.94px;
    margin-right: 20.33px;
    color: #737479;
    font-size: 16px;
  }

  .link:active,
  .link::after {
    color: #2563eb;
  }

  .heading {
    font-size: 48px;
    line-height: 60px;
  }

  .info {
    font-size: 32px;
    line-height: 40px;
  }

  .text {
    max-width: 520px;
    font-size: 24px;
    line-height: 30px;
  }
  .avatars {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 113px;
    grid-row-gap: 72px;
  }

  .front {
    margin-top: 6.1rem;
    margin-bottom: 5.2rem;
  }

  .side {
    margin-top: 4.4rem;
    margin-bottom: 5.98rem;
  }

  .bckg {
    height: 100px;
    width: 100px;
  }
  .img {
    position: absolute;
    top: -3rem;
    max-width: 145px;
  }

  .btn {
    font-size: 32px;
    line-height: 40px;
    padding: 30.66px 45px;
  }

  .scenery {
    font-size: 24px;
    line-height: 30px;
    margin-top: 84.69px;
    margin-bottom: 220px;
  }
}
