.careers__future {
  padding: 2rem;
}

.careers__secondary_heading {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
  text-align: center;
}

.careers__future_features {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding-top: 1rem;
}
