section.animated-podcast-section{
    padding: 6.25em 0;
    .animated-podcast{
        max-width: 93%;
        margin: 0 auto;

        .input-text{
            display: flex;
            padding: 0.75em 1.5em;
            border: 1px solid #BDBDBD;
            border-radius: 4px;
            margin-bottom: 3.75rem;

            & > svg{
                margin-right: 1rem;
            }

            & > input{
                width: 100%;
            }
        }
        .podcasts-wrapper{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(316px, auto));
            gap: 1.5rem;

            section.podcast-card{
                border-radius: 8px;
                border: 1px solid rgba(23, 29, 46, 0.2);
                overflow: hidden;

                .video-preview-container{
                    & > img {
                        width: 100%;
                    }
                    position: relative;
                    
                }

                .video-preview-container::before{
                    content: '';
                    background: rgba(0, 0, 0, 0.5);
                    width: 100%;
                    aspect-ratio: 1/1;
                    position: absolute;
                    bottom: 0;
                    z-index: 1;
                    pointer-events: none; 
                    opacity: 0;
                    transition: opacity 150ms ease-in-out;
                }

                &:hover .video-preview-container::before{
                    opacity: 1; 
                }

                .video-data{
                    padding: 1rem 1rem;

                    .video-details{
                        margin-bottom: 1.5rem;
                        & > h4 {
                            font-size: 1.5rem;
                            font-weight: 400;
                        }

                        & > p {
                            font-size: 1rem;
                            font-weight: 400;
                            color: #5F5F5F;
                        }
                        
                    }

                    & > button.btn {
                        display: flex;
                        padding: 1rem 0;
                        border-radius: 8px;
                        width: 100%;
                        text-align: center;
                        align-items: center;
                        place-items: center;
                        justify-content: center;
    
                        & > svg {
                            margin-right: 0.75rem;
                        }
                    }
    
                    & > .share-btn{
                        background: #2158D2;
                        color: #fff;
                        margin-bottom: 1.25rem;
                    }
    
                    & > .download-btn{
                        border: 1px solid #2158D2;
                    }
                }
            }
        }

    }
}