section.animated-podcast-section {
  padding: 6.25em 0;
}
section.animated-podcast-section .animated-podcast {
  max-width: 93%;
  margin: 0 auto;
}
section.animated-podcast-section .animated-podcast .input-text {
  display: flex;
  padding: 0.75em 1.5em;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  margin-bottom: 3.75rem;
}
section.animated-podcast-section .animated-podcast .input-text > svg {
  margin-right: 1rem;
}
section.animated-podcast-section .animated-podcast .input-text > input {
  width: 100%;
}
section.animated-podcast-section .animated-podcast .podcasts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(316px, auto));
  gap: 1.5rem;
}
section.animated-podcast-section .animated-podcast .podcasts-wrapper section.podcast-card {
  border-radius: 8px;
  border: 1px solid rgba(23, 29, 46, 0.2);
  overflow: hidden;
}
section.animated-podcast-section .animated-podcast .podcasts-wrapper section.podcast-card .video-preview-container {
  position: relative;
}
section.animated-podcast-section .animated-podcast .podcasts-wrapper section.podcast-card .video-preview-container > img {
  width: 100%;
}
section.animated-podcast-section .animated-podcast .podcasts-wrapper section.podcast-card .video-preview-container::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
section.animated-podcast-section .animated-podcast .podcasts-wrapper section.podcast-card:hover .video-preview-container::before {
  opacity: 1;
}
section.animated-podcast-section .animated-podcast .podcasts-wrapper section.podcast-card .video-data {
  padding: 1rem 1rem;
}
section.animated-podcast-section .animated-podcast .podcasts-wrapper section.podcast-card .video-data .video-details {
  margin-bottom: 1.5rem;
}
section.animated-podcast-section .animated-podcast .podcasts-wrapper section.podcast-card .video-data .video-details > h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
section.animated-podcast-section .animated-podcast .podcasts-wrapper section.podcast-card .video-data .video-details > p {
  font-size: 1rem;
  font-weight: 400;
  color: #5F5F5F;
}
section.animated-podcast-section .animated-podcast .podcasts-wrapper section.podcast-card .video-data > button.btn {
  display: flex;
  padding: 1rem 0;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  align-items: center;
  place-items: center;
  justify-content: center;
}
section.animated-podcast-section .animated-podcast .podcasts-wrapper section.podcast-card .video-data > button.btn > svg {
  margin-right: 0.75rem;
}
section.animated-podcast-section .animated-podcast .podcasts-wrapper section.podcast-card .video-data > .share-btn {
  background: #2158D2;
  color: #fff;
  margin-bottom: 1.25rem;
}
section.animated-podcast-section .animated-podcast .podcasts-wrapper section.podcast-card .video-data > .download-btn {
  border: 1px solid #2158D2;
}

/*# sourceMappingURL=index.css.map */
