.ethics_box {
  padding: 1rem 0.5rem;
  border: 1px solid rgba(41, 45, 50, 0.2);
  border-radius: 10px;
}

.ethics_icon {
  width: 2rem;
}

.ethics_title {
  font-size: 1.5rem;
  color: #2563eb;
  padding: 1rem 0;
}

.ethics_text {
  font-size: 0.8rem;
}
