.ethics-box {
  padding: 1rem 0.5rem;
  border: 1px solid rgba(41, 45, 50, 0.2);
  border-radius: 10px;
}

.ethics-icon {
  width: 2rem;
}

.ethics-title {
  font-size: 1.2rem;
  color: #2563eb;
  padding: 1rem 0;
}

.ethics-text {
  font-size: 0.6rem;
}
