.background {
  background: #f4f4f4;
}

.background2 {
  background: rgba(230, 234, 238, 0.3);
}

.headerText {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #292d32;
  text-align: center;
}

.subHeaderText {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #292d32;
  text-align: center;
}

.welcomeText {
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  color: #292d32;
  margin-top: 10px;
}

.story > div {
  margin-top: 60px;
  margin-bottom: 60px;
}

.story h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  color: #292d32;
  margin-top: 28px;
}

.story p {
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  color: #292d32;
  margin-top: 12px;
}

.newsletterHeading {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  color: #292d32;
  text-align: center;
}

.subcribe {
  display: flex;
  width: 100%;
  gap: 6px;
  margin-top: 32px;
  margin-bottom: 54px;
}

.subcribe input {
  text-indent: 97px;
  border: 1px solid #b0b0b0;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  flex-grow: 1;
  background: #f4f4f4;
}

.subcribe input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.subcribe button {
  padding: 8px 8px 8px 14px;
  background: #2563eb;
  color: white;
  border-radius: 0px 10px 10px 0px;
  width: 202px;
  height: 56px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Mulish', sans-serif;
}

.eventsBanner {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
  background-image: url('./images/UpcomingEventsBanner.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 340px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events {
  margin-top: 54px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 54px;
  align-items: flex-start;
}

.eventsListItem {
  display: flex;
  gap: 54px;
  width: 100%;
  padding-left: 0.5em;
}

.eventsListDate {
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  color: #2563eb;
}

.eventsListTitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #292d32;
}

.eventsListItem button {
  width: 123px;
  height: 56px;
  background: #2563eb;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.viewAll {
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  color: #2563eb;
}

.annoucement h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  color: #292d32;
}

.annoucement p {
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  color: #737479;
}

.lineHR {
  margin-top: 21px;
  display: block;
  height: 0px;
  border: 1px solid #cdcbcb;
  transform: rotate(-0.04deg);
}

.annoucement2 {
  padding: 22px 0px;
  border-bottom: 1px solid #cdcbcb;
}

.annoucement2 h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 154%;
  color: #2563eb;
}

.annoucement2 img {
  width: 121px;
  height: 99.22px;
}

.annoucement2 p {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.annoucement2 h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #737479;
}

.featureRequest {
  padding: 24px 40px;
  border-bottom: 1px solid #cdcbcb;
}

.featureRequest h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 154%;
  color: #2563eb;
}

.featureRequestImgBg {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 50%;
}

.featureRequest img {
  width: 30px;
  height: 53px;
}

.featureRequest p {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.featureRequest h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #737479;
}

.CommunityPageAnnouncementsListItem {
  display: flex;
  align-items: center;
  gap: 61px;
  padding-left: 55px;
  padding-bottom: 22px;
  border-bottom: 1px solid #cdcbcb;
}

.CommunityPageAnnouncementsListItem > div > p:first-of-type {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #2563eb;
}

.CommunityPageAnnouncementsListItemText {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.CommunityPageAnnouncementsListItem > div > p:last-of-type {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #737479;
}

@media all and (max-width: 756px) {
  .headerText {
    font-weight: 600;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
  }

  .subHeaderText {
    height: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #292d32;
    text-align: center;
    margin-top: 85px;
  }

  .welcomeText {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
  }

  .eventsBanner {
    font-size: 24px;
    line-height: 30px;
    background-size: cover;
    width: 100%;
    height: 95px;
    border-radius: 5px;
    margin-bottom: 24px;
  }

  .events {
    margin-bottom: 8px;
    gap: 24px;
    display: flex;
    justify-content: flex-start;
  }

  .eventsListDate {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }

  .eventsListTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #292d32;
  }

  .eventsListItem {
    display: flex;
    gap: 24px;
    width: 100%;
    padding-left: 0.5em;
  }

  .eventsListItem img {
    max-width: 110px;
    max-height: 113px;
  }

  .eventsListItem > div {
    gap: 0px;
  }

  .eventsListItem button {
    width: 92px;
    height: 34px;
    background: #2563eb;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  .eventsListItem > div > div > p:first-of-type {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }

  .eventsListItem > div > div > p:last-of-type {
    font-size: 12px;
    line-height: 16px;
  }

  .eventsListItem > div > button {
    width: 85px;
    height: 32px;
    padding: 9.5px 18px;
  }

  .featureRequest {
    padding: 24px 10px;
    border-bottom: 1px solid #cdcbcb;
  }

  .featureRequest h4 {
    font-weight: 20px;
    line-height: 25px;
  }

  .featureRequestImgBg {
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50%;
  }

  .featureRequest img {
    width: 30px;
    height: 53px;
  }

  .featureRequest p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
  }

  .featureRequest h6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #737479;
  }

  .annoucement h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }

  .annoucement p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #737479;
  }

  .annoucement2 h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }

  .annoucement2 img {
    width: 60.98px;
    height: 50px;
  }

  .annoucement2 p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
  }

  .annoucement2 h6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #737479;
  }

  .story > div {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .story h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #292d32;
    margin-top: 28px;
    text-align: center;
  }

  .story p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-top: 24px;
  }

  .viewAll {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .newsletterHeading {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .subcribe {
    display: flex;
    width: 100%;
    gap: 0px;
    margin-top: 32px;
    margin-bottom: 54px;
  }

  .subcribe button {
    padding: 8px 8px 8px 14px;
    width: 127px;
    height: 33px;
    border-radius: 0px 5px 5px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  .subcribe input {
    text-indent: 20px;
    border: 1px solid #b0b0b0;
    border-radius: 10px 0px 0px 10px;
    outline: none;
  }

  .subcribe input::placeholder {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
}
