.heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #292d32;
  margin-bottom: 40px;
}

.paragraph {
    font-weight: 400;
    font-size: 24px;
    line-height: 154%;
    text-align: justify;
    opacity: 0.9;
}

.readmore {
    width: 164px;
    height: 43px;
    margin-top: 40px;
}


.readmore p{
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    color: #2158D2;
    opacity: 0.9;
}

.readmore img {
    width: 28px;
    height: 28px;
    margin-top: 4px;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 72px;
  border-radius: 6px;
}

.active {
  background: #2158d2;
  color: aliceblue;
}

.navigation {
  width: 117px;
  height: 72px;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
}

.description {
    height: 394px;
    max-width: 84%;
}





@media screen and  (max-width: 1280px) {


    .paragraph {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        text-align: justify;
        color: #292D32;
    }

    .readmore {
        width: 112px;
        height: 22px;
        margin-top: 40px;
    }

    .readmore p{
        font-weight: 500;
        font-size: 16px;
    }

    .readmore img {
        width: 24px;
        height: 20px;
        margin-top: 1px;
    }

    .description {
        max-height: 212px;
    }
    
}


@media screen and  (max-width: 1024px) {


    .heading {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 16px;
    }

    .paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: justify;
        color: #292D32;
    }

    .navigation {
        height: 50px;
        border: 1px solid #BDBDBD;
        border-radius: 6px;
    }

    .page {
        border-radius: 6px;
        width: 52px;
        height: 48px;
    }

    .readmore {
        width: 112px;
        height: 22px;
        margin-top: 40px;
    }

    .readmore p{
        font-weight: 500;
        font-size: 16px;
    }

    .readmore img {
        width: 24px;
        height: 20px;
        margin-top: 1px;
    }

    .description {
        max-height: 212px;
    }
    
}







@media screen and  (max-width: 756px) {
    .heroBg {
        height: 129px;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 35px;
        color: #FFFFFF;
    }

  .heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    /* White/Black/text */
    color: #292d32;
    margin-bottom: 20px;
  }

  .paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
    color: #292d32;
  }

    .navigation {
        width: 64px;
        height: 50px;
        border: 1px solid #BDBDBD;
        border-radius: 6px;
    }

    .page {
        border-radius: 6px;
        width: 52px;
        height: 48px;
    }

    .readmore {
        width: 112px;
        height: 22px;
        margin-top: 40px;
    }

    .readmore p{
        font-weight: 500;
        font-size: 16px;
    }

    .readmore img {
        width: 24px;
        height: 20px;
        margin-top: 1px;
    }

    .description {
        max-height: 212px;
        max-width: 100%;
    }
    
}
