$black: #000000;
$white: #fff;
$nav_text: #292d32;
$nav_btn: #1877f2;
$hero_bg: #2563eb;
$border1: #c6c6c7;
$darkbox: #a2a2a5;
$article: #737479;
$secondary-bg: #f5f5f5;
$nav_btncol: #fefefe;
$footerbg: #171d2e;
