.heroBg {
  width: 100%;
  padding: 4rem 0;
  background: #2158d2;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #f4f4f4;
}

.heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #292d32;
  margin-bottom: 40px;
}

.paragraph {
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  text-align: justify;
  opacity: 0.9;
  max-width: 472px;
}

.readmore {
  width: 176px;
  height: 43px;
  margin-top: 40px;
}

@media screen and (max-width: 756px) {
  .heroBg {
    height: 129px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #ffffff;
  }
}
