.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320px;
  background-color: #f8f8f8;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  height: fit-content;
  padding: 0 2rem 1rem 2rem;
  animation-name: slide-down;
  animation: 300ms ease-out forwards;
  text-align: center;
  border-radius: 1rem;
  margin-top: 50px;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
