@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700;900&display=swap');
// utils
@import url(./utils/colors.scss);
@import url(./utils/animation.scss);
@import url(./utils/loader.scss);

body {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

.br {
  border: 1px solid red;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle{
  display: flex;
  align-items: center
}

