@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700;900&display=swap");
// utils
@import url(./utils/colors.scss);
@import url(./utils/animation.scss);
@import url(./utils/loader.scss);

body {
    font-family: "Mulish", sans-serif;
    font-style: normal;
}

.h2-text{
    font-size:clamp(1.563rem, 2.5vw + 0.9rem, 3.125rem);
}
.p-text{
    font-size:clamp(1rem, 1vw + 0.6rem, 1.5rem);
}
.h3-text{
    font-size:clamp(1rem, 2vw + 0.6rem, 2rem);
}