.top_bg {
  display: flex;
  height: 180px;
  width: 100%;
  background: #171D2E;
  justify-content: center;
  align-items: center;
}

.top_bg h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
}

.ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: lightblue transparent transparent transparent;
}
.ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.ring div:nth-child(3) {
  animation-delay: -0.15s;
}


@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }

}

.form {
  max-width: 640px;
  width: 100%;
}

.form label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F;
  margin-bottom: 0.4em;
}

.input {
  border-radius: 4px;
  border: 1px solid #E0E0E0;
  background:  #FBFBFB;
  margin-bottom: 8px;
  height: 55px;
  font-size: 14px;
  line-height: 20px;
}

.input:focus {
  border: 1px solid #7b99fb;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 2px #D1E9FF;
}

.error {
  border: 1px solid #FB7F7B;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 2px #ffe1e0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background:  #FBFBFB;
}

.heading {
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  color: #292D32;
  font-size: 44px;
}

.subHeading {
  line-height: 25px;
  color: #737479;
}


.textArea {
  resize: none;
  height: 268px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.container input::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F;
}

.textArea::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F;
}


.submit {
  background: #2158D2;
  border-radius: 8px;
  width: 100%;
  color: white;
  height: 54px;
}

.submit:enabled {
  background: #2158D2;
}

.submit:hover {
  background: #1C4CB6;
}

.submit:disabled {
  background: #2563EB;
}

@media screen and (max-width: 1440px) {

  .heading {
    margin-top: 0.1em;
    font-size: 36px;
  }

  .container {
    margin-top: 1.2em;
    padding-left: 8em;
    padding-right: 8em;
  }

  .input {
    height: 2.4em;
  }

  .textArea {
    height: 240px;
  }

  .subHeading {
    font-size: 18px;
  }

}

@media screen and (max-width: 1025px) {

  .heading {
    margin-top: 0.1em;
    font-size: 36px;
  }

  .container {
    margin-top: 1.2em;
    padding-left: 4em;
    padding-right: 4em;
  }

  .input {
    height: 2.4em;
  }

  .textArea {
    height: 240px;
  }

}


@media screen and (max-width: 764px) {

  .heading {
    margin-top: 0.1em;
    font-size: 28px;
  }

  .input {
    height: 57px;
  }

  .textArea {
    height: 182px;
  }

  .form {
    width: 100%;
  }

  .container {
    margin-top: 1.2em;
    padding-left: 0;
    padding-right: 0em;
  }

  .subHeading {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #737479;
  }


  .top_bg {
    height: 80px;
  }

  .top_bg h1 {
    font-size: 24px;
    line-height: 30px;
  }

}