// .button {
//   @apply px-6 p-3 capitalize  rounded-md space-x-8 flex items-center;

//   &.ghost {
//     @apply bg-white border border-pri text-pri;
//   }

//   &.primary {
//     @apply bg-pri border border-pri text-white;
//   }

//   &:disabled,
//   &.loading {
//     opacity: 0.8;
//     cursor: not-allowed;
//   }
// }

.button {
  font-size: inherit;
  border: none;
  background-color: #2563eb;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover,
.button:active {
  background-color: #1851cb;
}

.button:disabled {
  background-color: #8aacf4;
}
