section.home-section{

    .home{
        background: #171D2E;

        .hero-container{
            // height: 100vh;
            width: 93%;
            max-width: 1512px;
            margin: 0 auto;
            display: flex;
            color: #FFFFFF;
            // justify-content: space-between;
            align-items: center;
            height: calc(100vh - 100px);
            overflow: hidden;
            // & > * {
            //     flex: 1;
            // }

            .desktop-lhs{
                // border: 2px solid red;
                .hero-text{
                    max-width: 25rem;
                    // margin: auto 0;
                    margin-bottom: 3rem;
                    & > h1{
                        font-size: 3rem;
                        margin-bottom: 1rem;
                        font-weight: 700;
                        line-height: 61px;
                    }

                    & > p{
                        font-size: 1.375rem;
                        line-height: 40px;
                    }
                }

                .hero-btns{
                    display: flex;

                    button.btn{
                        display: flex;
                        padding: 1em 1.125em;
                        background: #2563EB;
                        border-radius: 8px;
                        white-space: nowrap;
                        align-items: center;
                        // overflow: hidden;

                        & > svg{
                            margin-right: 0.75rem;
                        }
                    }

                    .watch-btn{
                        display: flex;
                        align-items: center;
                        margin-left: 0.625rem;
                        white-space: nowrap;

                        button.btn{
                            margin-right: 0.625rem;
                            background: #EB9025;

                            & > svg{
                                margin: 0;
                            }
                        }
                    }
                }
            }

            .desktop-rhs{
                // border: 2px solid red;
                margin-left: 6.25rem;
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */

                &::-webkit-scrollbar{
                    display: none;
                }

                .lottie{
                    width: 120%;
                }
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    section.home-section{
        .home{
            .hero-container{
                flex-direction: column;
                text-align: center;
                align-items: center;
                height: auto;

                .desktop-lhs{
                    display: flex;
                    margin-top: 3rem;
                    flex-direction: column;
                    text-align: center;

                    .hero-text{
                        max-width: 100%;
                    }

                    .hero-btns{
                        margin: 0 auto !important;
                        width: 100%;
                        align-items: center;
                        justify-content: center;

                        .watch-btn{
                            margin-left: 1rem;
                        }
                    }
                }

                .desktop-rhs{
                    margin-left: 0;
                    margin-bottom: 3rem !important;
                    margin-top: 2.5rem;

                    .lottie{
                        width: 100% !important;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 480px){
    section.home-section{
        .home{
            .hero-container{
                .desktop-rhs{
                    margin-bottom: 0 !important;
                }
                .desktop-lhs{
                    .hero-text{
                        & > h1{
                            font-size: 2.5rem !important;
                        }

                        & > p{
                            font-size: 1rem;
                            max-width: 300px;
                            margin: 0 auto;
                            line-height: 2rem;
                        }
                    }
                    
                    .hero-btns{
                        width: 100%;
                        button.btn{
                            font-size: 0.8rem;
                            align-items: center;
                        }

                        .watch-btn{
                            & > h4 {
                                font-size: 0.8rem;
                            }
                        }
                    }

                }
            }
        }
    }
}