.head_bg {
  height: 180px;
  background: #171d2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head_bg h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
}

.heading2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 116px;
}

.heading2 h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #292d32;
  max-width: 588px;
}

.heading2 p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #292d32;
  max-width: 826px;
  margin-top: 24px;
}

.blueLeftPattern {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  background-image: url(/src/assets/how-it-works/Rectangle\ 234.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.blueRightPattern {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-image: url(/src/assets/how-it-works/Rectangle\ 234.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

.lightLeftPattern {
  position: absolute;
  top: 30px;
  left: 0;
  width: 80px;
  height: 80px;
  background-image: url(/src/assets/how-it-works/Rectangle\ 235.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* transform: rotate(180deg); */
}

.lightRightPattern {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 80px;
  height: 80px;
  background-image: url(/src/assets/how-it-works/Rectangle\ 235.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

@media screen and (max-width: 764px) {
  .head_bg {
    height: 90px;
    background: #171d2e;
  }

  .head_bg h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .heading2 {
    margin-top: 70px;
  }

  .heading2 h2 {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #292d32;
    max-width: 300px;
  }

  .heading2 p {
    max-width: 335px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #292d32;
  }
}
