section.home-section .home {
  background: #171d2e;
}
section.home-section .home .hero-container {
  width: 93%;
  max-width: 1512px;
  margin: 0 auto;
  display: flex;
  color: #ffffff;
  align-items: center;
  overflow: hidden;
}
section.home-section .home .hero-container .desktop-lhs .hero-text {
  max-width: 25rem;
  margin-bottom: 3rem;
}
section.home-section .home .hero-container .desktop-lhs .hero-text > h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 61px;
}
section.home-section .home .hero-container .desktop-lhs .hero-text > p {
  font-size: 1.375rem;
  line-height: 40px;
}
section.home-section .home .hero-container .desktop-lhs .hero-btns {
  display: flex;
}
section.home-section .home .hero-container .desktop-lhs .hero-btns button.btn {
  display: flex;
  padding: 1em 1.125em;
  background: #2563eb;
  border: 1px solid #2563eb;
  border-radius: 8px;
  white-space: nowrap;
  align-items: center;
}
section.home-section .home .hero-container .desktop-lhs .hero-btns button.btn2 {
  display: flex;
  padding: 1em 1.125em;
  white-space: nowrap;
  align-items: center;
  border: 1px solid white;
  border-radius: 8px;
  margin-left: 0.625rem;
}
section.home-section .home .hero-container .desktop-lhs .hero-btns button > svg {
  margin-right: 0.75rem;
}
section.home-section .home .hero-container .desktop-lhs .hero-btns .watch-btn {
  display: flex;
  align-items: center;
  margin-left: 0.625rem;
  padding-right: 0.625rem;
  white-space: nowrap;
  border: 1px solid white;
  border-radius: 8px;
}
section.home-section .home .hero-container .desktop-lhs .hero-btns .watch-btn button.btn {
  margin-right: 0.625rem;
}
section.home-section .home .hero-container .desktop-lhs .hero-btns .watch-btn button.btn > svg {
  margin: 0;
}
section.home-section .home .hero-container .desktop-rhs {
  margin-left: 6.25rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
section.home-section .home .hero-container .desktop-rhs::-webkit-scrollbar {
  display: none;
}
section.home-section .home .hero-container .desktop-rhs .lottie {
  width: 120%;
}

@media screen and (max-width: 1000px) {
  section.home-section .home .hero-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: auto;
  }
  section.home-section .home .hero-container .desktop-lhs {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    text-align: center;
  }
  section.home-section .home .hero-container .desktop-lhs .hero-text {
    max-width: 100%;
  }
  section.home-section .home .hero-container .desktop-lhs .hero-btns {
    margin: 0 auto !important;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  section.home-section .home .hero-container .desktop-lhs .hero-btns .watch-btn {
    margin-left: 1rem;
  }
  section.home-section .home .hero-container .desktop-rhs {
    margin-left: 0;
    margin-bottom: 3rem !important;
    margin-top: 2.5rem;
  }
  section.home-section .home .hero-container .desktop-rhs .lottie {
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  section.home-section .home .hero-container .desktop-rhs {
    margin-bottom: 0 !important;
  }
  section.home-section .home .hero-container .desktop-lhs .hero-text > h1 {
    font-size: 2.5rem !important;
  }
  section.home-section .home .hero-container .desktop-lhs .hero-text > p {
    font-size: 1rem;
    max-width: 300px;
    margin: 0 auto;
    line-height: 2rem;
  }
  section.home-section .home .hero-container .desktop-lhs .hero-btns {
    width: 100%;
  }
  section.home-section .home .hero-container .desktop-lhs .hero-btns button.btn {
    font-size: 0.8rem;
    align-items: center;
  }
  section.home-section .home .hero-container .desktop-lhs .hero-btns .watch-btn > h4 {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=index.css.map */
