@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');


/* hero */

.aboutHero {
  background-color: rgb(7, 7, 22);
  display: grid;
  padding: 2rem;
}

.aboutHeroText {
  text-align: center;
  top: 30%;
  width: 100%;
}

.aboutHeroText h3 {
  font-family: 'Mulish', sans-serif;
  color: #ffffff;
  font-size: 48px;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  padding: 3rem 15rem;
}

.contentHeading {
  font-size: 1.2rem;
}

.contentTheme {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #292D32;
  padding-bottom: 1rem;
}

.aboutValues {
  display: grid;
  padding: 50px 0px;
  background-color: #171d2e;
}

.aboutValuesHeading {
  text-align: center;
  width: 50%;
  justify-self: center;
  color: #ffffff;
}

.aboutValuesHeading h3 {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
}

.ValuesText {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  max-width: 882px;
}

.valuesGridSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* width: 88%; */
  justify-content: center;
  margin-top: 50px;
  padding: 0 60px;
}

.valuesGrid {
  background-color: #ffffff;
  padding: 35px 30px;
  margin: 20px 0px;
  width: 88%;
  justify-self: center;
  text-align: center;
}

.valuesGrid img {
  height: 40px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.valuesGrid h3 {
  font-size: 22px;
  margin: 10px 0px;
  font-family: 'Mulish', sans-serif;
}

.valuesGrid p {
  font-size: 15px;
  font-family: 'Mulish', sans-serif;
}

/* about_team */

.meetSection {
  background-color: #171d2e;
  color: #ffffff;
  text-align: center;
}

.meetContent {
  padding: 2rem 12rem;
}

.aboutTeamSection2 {
  width: 85%;
  margin: 0 auto;
  justify-self: center;
  display: grid;
  position: relative;
  padding-bottom: 350px;
}

.aboutTeamTabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
}

.aboutTeamTab {
  text-align: center;
  cursor: pointer;
  outline: none;
}

.aboutTeamSlider {
  color: #171d2e;
  display: block;
}

.aboutTeamTab:focus .aboutTeamSlider {
  color: #171d2e;
  display: block;
}

.aboutTeamTab p {
  padding: 20px 0px;
}

.aboutTeamTab:focus p {
  background-color: #fbfbfb;
  color: #171d2e;
}

.aboutTeamSlider {
  position: absolute;
  width: 100%;
  padding: 46px 20px;
  background-color: #fbfbfb;
  left: 0;
  display: none;
  z-index: 990;
  place-items: center;
  justify-content: center;
}

.aboutTeamSlider#firstSlider {
  display: block;
}

.aboutTeamSlider .swiper-button-prev {
  color: #171d2e;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
}
.aboutTeamSlider .swiper-button-next {
  color: #171d2e;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
}

.aboutTeamSlider#swiperSmallScreen {
  display: none !important;
}

.aboutTeamSlide {
  display: grid;
  justify-content: center;
  justify-self: center;
  place-items: center;
}

.aboutTeamSlide img {
  margin-bottom: 10px;
}
.aboutTeamSlide h3 {
  margin: 0 !important;
}

.aboutTeamSlide p {
  font-size: 14px;
}

/* about_team */

/* about_build */

.aboutBuild {
  background-image: url(../images/background-image.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  text-align: center;
  padding: 3rem 0rem;
  width: 100%;
}

.aboutBuildBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  gap: 2rem;
}

.aboutBuildBox h3 {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 45px;
}

.aboutBuildBox button {
  background-color: #2563eb;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 15px;
}

.aboutBuildBox button:hover {
  background-color: #2563eb !important;
  color: white !important;
}

/* about_build */

@media screen and (max-width: 540px) {
  .aboutSection {
    padding: 2rem 4rem;
  }

  .aboutValuesHeading {
    width: 70%;
  }

  .aboutValuesHeading h3 {
    font-size: 25px;
  }

  .aboutValuesHeading p {
    font-size: 14px;
  }

  .valuesGridSection {
    grid-template-columns: 1fr 1fr;
  }

  .meetContent {
    padding: 2rem 4rem;
  }

  .aboutBuild {
    background-image: none;
  }

  .aboutBuildBox {
    padding: 0 0rem;
  }

  .aboutBuildBox h3 {
    font-size: 20px;
  }

  .aboutTeamTabs {
    grid-template-columns: 1fr;
  }

  .aboutTeamSlider#swiperSmallScreen {
    display: block !important;
  }
  .aboutTeamSlider#firstSlider {
    display: none !important;
  }

  #secondSlider,
  #thirdSlider,
  #fourthSlider {
    display: none;
  }

  .aboutTeamTab:focus p {
    background-color: transparent;
    color: #ffffff;
  }

  .aboutTeamSlide p {
    color: #171d2e !important;
  }
}

@media screen and (max-width: 540px) {
  .valuesGridSection {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 375px) {
  .aboutMissionSection2 {
    margin-top: 300px;
  }
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.aboutContent p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #292D32;
  margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
  .contentHeading {
    font-size: 14px;
    line-height: 18px;
  }

  .contentTheme {
    font-size: 18px;
    line-height: 23px;
  }

  .aboutSection {
    gap: 2rem;
    text-align: center;
    padding: 3rem 1rem;
  }

  .aboutContent p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 4px;
  }

  .valuesGridSection {
    padding: 0 10px;
  }

}