.features_box {
  background-color: #ffffff;
  border: 1px solid rgba(41, 45, 50, 0.2);
  border-radius: 10px;
  padding: 2rem 1rem;
  max-width: 20rem;
}

.features_box_title {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.sub_title {
  font-size: 0.8rem;
  font-weight: 600;
  color: #292d326b;
}

.text {
  padding-top: 1rem;
}
