.nav {
    background: #FBFBFB;
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);
    height: 4em;
    color: #292D32;
}

.nav .links {
    font-size: 1em;
    line-height: 20px;
    color: #292D32;
}


@media screen and  (min-width: 480px) {
    .nav {
        height: 5.5em;
    }

    .nav .links {
        max-width: 28em;
    }
    
}

@media screen and  (min-width: 1024px) {
    .nav .links {
        max-width: 31.9375em;
    }
    
}