.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fbfbfb;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
  height: 4em;
  color: #292d32;
  z-index: 10000;
}

.nav .links {
  max-width: 420px;
}

.nav .links a {
  font-size: 1em;
  line-height: 20px;
  color: #292d32;
}

.nav .links a:hover {
  color: #2158d2;
}

.nav .links .active {
  color: #2158d2;
}

.navDummy {
  height: 4em;
}

.menu {
  background: rgba(251, 251, 251, 0.8);
  backdrop-filter: blur(7.5px);
  position: fixed;
  top: 4em;
  left: 0;
  width: 100%;
  height: calc(100% - 4em);
  z-index: 100000;
}

.menu .links {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #606368;
  margin-bottom: 1.25em;
}

.menu a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #606368;
  margin-bottom: 1.25em;
}

.menu .line {
  border: 0.5px solid #afb0b3;
}

.menu .links2 {
  margin-top: 14px;
}

.menu .links2 a {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #606368;
  margin-top: 14px;
}

@media screen and (min-width: 480px) {
  .nav {
    height: 5.5em;
  }

  .nav .links {
  }

  .navDummy {
    height: 5.5em;
  }
}

.createVideo {
  position: absolute;
  width: 240px;
  height: 58px;
  background: #2563eb;
  border-radius: 8px;
  color: #fefefe !important;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 756px) {
  a:hover {
    color: #292d32;
  }
}
