.customize-audio {
  // border: 1px solid red;

  .sceneBackground {
    background-size: cover;
    background-position: center;
  }

  .modal_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.616);
  }

  .tab {
    height: 80px;
    width: 80px;
    @apply rounded-xl justify-between p-2 h-full flex flex-col items-center;
  }

  .text {
    @apply text-xs font-bold capitalize;
  }

  .audio-player {
    input[type=range] {
      height: 5px;
      appearance: none;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 8px;
      background: #E5E5E5;
      transition: background 0.2s ease;
      cursor: pointer;
    }

    .progress-bar-indicator::after {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: #2563EB;
      position: absolute;
      right: -10px;
      top: -6.8px;
    }

  }
}